

#pic {
    width: 450px ;!important
}

.contact_1 h3 {
    display: inline;
}



.line {
    background-color: coral;
    height: 3px;
    width: 70px;
    margin-bottom: 10px;
}

span {
    display: inline;
}

#debate{
    margin-bottom: 130px;
}

#trackandfield{
    margin-bottom: 130px;
}

.row img{
   width:350px; 
}
